.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #9abddc;
  padding-top: 2rem;
}

.gameTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 8px;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 2rem;

}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid #333;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner-message {
  display: flex;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}